<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <a href="users_create" target="_self">
      <button>users_create</button>
    </a>
    <a href="users_edit" target="_self">
      <button>users_edit</button>
    </a>
    <a href="articles_create" target="_self">
      <button>articles_create</button>
    </a>
    <a href="articles_edit" target="_self">
      <button>articles_edit</button>
    </a>
  </body>
</html>
