<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>articles_create</title></head
  ><link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
  <script src="../scripts/articles_create.js" defer></script>
  <body>
    <form id="articles_create_form">
      <h1>Criar Artigo</h1> 
      <input placeholder="Titulo" type="text" id="title" name="title"/><br/>
      <textarea
         placeholder="Texto" type="text" id="content" name="content" rows="5" cols="70">
      </textarea><br/>
      <textarea 
        placeholder="Escreva as palavras chave separadas por virgula" type="text" 
        id="keywords" name="keywords" rows="2" cols="70">
      </textarea><br/>
      <button id="cadastrar_button" type="submit">Cadastrar</button>
    </form>
  </body>
</html>
