*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(73,175,241,1) 48%);
}

#articles_create_form{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 20px 30px;
    align-items: center;
}


.container{
    text-align: center;
    display: block;
    justify-content: center;
}

input, textarea, label{
    text-align: left;
    display: flex;
    width: 100%;
}

label{
    font-weight: bold;
    font-size: 1.5rem;
}

input, textarea{
    margin-bottom: 20px;
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

#cadastrar_button{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 18px;
    padding: 10px;
    background-color: rgb(96, 152, 255);
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cadastrar_button:hover{
    opacity: 0.7;
}

.name_user{
    font-size: 2rem;
    margin-right: 20px;
}

.options_form{
    display:inline-flex;
}

h1, h2{
    font-weight: bold;
}

.yesornot{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}