*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(73,175,241,1) 48%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    padding: 20px 30px;
    border-radius: 18px;
    text-align: center;
    cursor: pointer;
}

#login_form{
    margin-top: 30px;
    margin-bottom: 30px;

}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #08558b;
    box-shadow: 0 0 0 0;
    outline: 0;
}

#login_button{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 18px;
    padding: 10px;
    background-color: rgb(96, 152, 255);
    color: white;
}

#login_button:hover{
    opacity: 0.7;
}