
#user_name{
    text-align: center;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(73,175,241,1) 48%);
}
#users_edit_form{
    /* cursor: pointer; */
    align-items: center;
}


.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    padding: 20px 30px;
    border-radius: 18px;
    background-color: white;
    width: 30%;
    display: block;
}

input,label{
    text-align: left;
}

.name_user{
    font-size: 2rem;
    margin-right: 20px;
}

#editar_button{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 18px;
    padding: 10px;
    background-color: rgb(96, 152, 255);
    color: white;
}

#editar_button:hover{
    opacity: 0.7;
}



